$accentColor = #9BD0AB  //默认主题颜色
$textColor = #333333  //默认字体颜色
$borderColor = #eaecef  //默认边框颜色
$codeBgColor = #282c34  //默认背景颜色

@media screen and (min-width:1200px)
  .no-sidebar
    background: linear-gradient(314deg, #c1e8cc 58%, #d5eadb -71%);
  .theme-container
    .page
      padding-left: 13rem



